/* src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Cor de fundo principal do site */
  background-color: #0b0a12;
  
  /* Para garantir que o texto seja legível por padrão */
  color: white; 
}

html {
  scroll-behavior: smooth; /* <-- ADICIONE ESTA LINHA */
}

* {
  box-sizing: border-box;
}